@charset "UTF-8";
@font-face {
    font-family: 'Titulo';
    src: url(learning_curve/LearningCurve.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Texto';
    src: url(deuxieme_rang/Deuxieme_Rang_Original.otf) format('OpenType');
    font-weight: normal;
}

:root{

    --cor1: #f2d0a7;
    --cor2: #bf8f65;
    --cor3: #8c6645;
    --cor4: #73503c;
    --cor5: #40281b;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-h1: 'Titulo';
    --fonte-Texto: 'Texto';


}
*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 20%;
 

}
body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    text-align: justify;

}
header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
   text-align: center;
   min-height: 100px;
   padding-top: 45px;

}
header > h1{
    font-family: var(--fonte-Texto);
    color: black;
    margin-bottom: 5px;
    font-size: 1.5em;

}
header > p{
    font-family: var(--fonte-h1);
    font-size: 1.5em;
    max-width: 380px;
    margin: auto;  
}
nav{
    background-color: var(--cor3);
    padding: 10px;
}
nav > a{
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
    color: black;
    border-radius: 7px;
    transition-duration: .5s;
    margin-right: 20px;
    font-size: 1em;


}
nav > a:hover{
    border-radius: 1px;
    background-color: var(--cor4);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    word-spacing: 3px;
    line-height: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
}

main h2{
    background-image: linear-gradient(to right, var(--cor2) , transparent);
    font-family: var(--fonte-Texto);
    color: black;
    font-size: 1.5em;
    text-indent: 10px;
    font-weight: bold;
    padding: 8px;
}