@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #d8ae7b, #f0bbb6);
} 
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #968e88;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #86A69D;
    text-align: center;
    text-shadow: 1px 1px 2px  #566964;
}
h1#Principal{
    text-decoration: double;
    text-align: left;
}
h2{
    color: #F28585;
}